<div class="container">

    <div class="row mt-5 md-5">
        <div class="col-md-12">
            <h1 class="text-center">Frutas fresquinhas, com a melhor qualidade!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum saepe quisquam,
                corrupti, soluta id eligendi ipsa excepturi perspiciatis iure, architecto eius nobis! Molestias atque
                iusto sint non ipsum quod nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque
                accusantium ipsam pariatur excepturi numquam quibusdam qui consequuntur ad incidunt maiores error nulla,
                quod voluptatum ut facilis odio odit porro. Beatae.!
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>