<div class="container">
    <div class="section p-5">
        <div class="row">
            <div class="card col-md-4 mb-4" *ngFor="let produto of produtos">
                <div class="card-header">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                </div>
                <img class="card-img-top mx-auto" src="{{produto.imagem}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Código:</strong> {{ produto.id }}
                    </p>
                    <p class="card-text">
                        <strong>Preço:</strong> R$ {{ produto.preco }}
                    </p>
                    <p class="card-text">
                        <strong>Quantidade em estoque:</strong> {{ produto.qtdEstoque }}
                    </p>
                    <div class="row d-flex justify-content-center">
                        <a class="btn btn-warning m-2" role="button"
                            [routerLink]="['/produtos', 'editar', produto.id]">Editar</a>
                        <a class="btn btn-danger m-2" role="button"
                            [routerLink]="['/produtos', 'remover', produto.id]">Remover</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-primary" routerLink='/produtos/cadastrar'>Cadastrar</button>
            </div>
        </div>
    </div>
</div>